@font-face { font-family: 'CenturyGothic'; font-display: swap; font-style: normal; font-weight: 400; src: local('CenturyGothic'), url('/assets/century-gothic.ttf') format('truetype'); }
html { font-size: 18px; text-align: -webkit-center; }
body { font-size: 1rem; font-family: "CenturyGothic", "Segoe UI", sans-serif; font-variant: small-caps; width: max-content; height: 100%; background: black; color: white; overflow-x: hidden; margin: 0; text-align: -webkit-center;}
img { visibility: hidden; }
img:hover { transform: scale(1.5); transition: 1s ease-in-out; }
.header { display: block; }
.nav { display: block; }
.main { display: block; width: max-content; }
.footer { display: block; }
.aside { display: block; }
.install { padding: 8px; width: max-content; background: maroon; display: none; }
.sakura { position: fixed; top: 0; left: 0; z-index: -1; opacity: 0.2; width: 100vw; height: 100% }
input[type=text] { width: 700px; padding: 10px; background: none; border: none; outline: none; font-family: CenturyGothic; font-variant: small-caps; font-size: 2rem; margin: 20px; border-bottom: 4px solid #555555; color: white; }
